html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: whitesmoke;
  font-weight: 400;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  margin: 0;
  padding-top: 10px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.flip-items {
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  padding: 5%;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: olivedrab;
}
